<body>
    <h1>
  Actor #<%=@actor_id%> details
</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<!--
<a href="/delete_actor/504" class="btn btn-block btn-outline-secondary">
  Delete actor
  <small>(Building this link is not required. It's an optional stretch goal; but, you have the tools if you want to give it a try.)</small>
</a>
-->

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%=@target_actor.name%>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%=@target_actor.dob%>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%=@target_actor.bio%>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%=@target_actor.image%>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%=time_ago_in_words(@target_actor.created_at)%> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%=time_ago_in_words(@target_actor.updated_at)%> ago
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tbody><tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  </tr>
  <%@target_characters.each do |role| %>
    <tr>
      <%movie = Movie.where({:id => role.movie_id}).first%>
      <%director = Director.where({:id => movie.director_id}).first%>
      <td><%=movie.title%></td>
      <td><%=movie.year%></td>
      <td><%=director.name%></td>
      <td><%=role.name%></td>
      <td>
        <a href="/movies/<%=movie.id%>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
      

</tbody></table>

</body>
